.hero{
    height: 100vh;
    background: linear-gradient(to right, #0d6efd, #6610f2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}
.hero p{
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}
.card{
    transition: 0.3s;

}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
}
:root{
    --primary: #0d6efd;
    --secondary: #6610f2;
    --dark: #212529;
    --light: #f8f9fa;
    --white: #ffffff;
    --shadow: 0 4px 10px rgba(0,0,0,0.1);
}
body{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    background: var(--light);
}
.navbar{
    background: var(--white);
    box-shadow: var(--shadow);
}
.navbar-brand{
    font-weight: bold;
    color: var(--primary);
}
.nav-link{
    color: var(--dark);
    margin-left: 15px;
}
.nav-link:hover{
    color: var(--primary)
}
.hero{
    height: 100vh;
    background: -o-linear-gradient(to right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f8f9fa;
}
.hero h1{
    font-size: 3rem;
    font-weight: bold;
}
.hero p{
    font-size: 1.2rem;
}
.card{
    border: none;
    box-shadow: var(--shadow);
    transition: 0.3s;
}
.card:hover{
    transform: translate(10px);
}
footer{
    background: #212529;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}
html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}